.bgWrap {
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    &.view{
        opacity: 1;
        visibility: visible;
    }

    .SearchModal {
        
    }
}

.wrap {position: relative;}

.form {position: relative;}

.inp {width: 400px; height: 50px; border: 2px solid #333;
    border-radius: 25px; text-indent: 90px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 1px rgba(0,0,0,0.5);
}

.inp:focus {outline: none;}

.searchBtn {
    position: absolute;
    width: 30px; height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn {
    background-color: #ddd; 
    right: 11px; top: 9px;
}